@import '@rainbow-me/rainbowkit/styles.css';
@import './style.base.css';

@font-face {
	font-family: 'Aeonik Mono';
	src: url('public/fonts/AeonikMono-Regular.eot');
	src:
		local('Aeonik Mono Regular'),
		local('AeonikMono-Regular'),
		url('public/fonts/AeonikMono-Regular.eot?#iefix') format('embedded-opentype'),
		url('public/fonts/AeonikMono-Regular.woff2') format('woff2'),
		url('public/fonts/AeonikMono-Regular.woff') format('woff'),
		url('public/fonts/AeonikMono-Regular.ttf') format('truetype'),
		url('public/fonts/AeonikMono-Regular.svg#AeonikMono-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Aeonik Mono';
	src: url('public/fonts/AeonikMono-Bold.eot');
	src:
		local('Aeonik Mono Bold'),
		local('AeonikMono-Bold'),
		url('public/fonts/AeonikMono-Bold.eot?#iefix') format('embedded-opentype'),
		url('public/fonts/AeonikMono-Bold.woff2') format('woff2'),
		url('public/fonts/AeonikMono-Bold.woff') format('woff'),
		url('public/fonts/AeonikMono-Bold.ttf') format('truetype'),
		url('public/fonts/AeonikMono-Bold.svg#AeonikMono-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
